{% extends "base.html" %}
{% block title %}About — Ben Luedtke{% endblock %}

{% block content %}
<h1>About</h1>
<p class="subtitle">Some stuff about me.</p>

<div class="section">
    <div class="about-text">
        <p>
            Hi, I'm Ben, and this is my place on the internet.
        </p>
        <p>
            I work in data science and analytics, I play guitar and write novels.
            I'm married to <a href="https://aoluedtke.com">Allison</a>. We have two kids and a dog.
            I was in the Army, I have been through <a href="wm.edu">William & Mary</a> twice (B.A., M.S.)
            I now putz around Minnesota.
        </p>

    </div>
</div>
{% endblock %}
