{% extends "base.html" %}
{% block title %}About — Ben Luedtke{% endblock %}

{% block content %}
<h1>About</h1>
<p class="subtitle">Some stuff about me.</p>

<div class="section">
    <div class="about-text">
        <p>
            Hi, I'm Ben, and this is my place on the internet.
        </p>
        <p>
        I'm married to <a href="https://sites.google.com/stolaf.edu/aoluedtke/home">Allison</a>. We have two kids and a dog.
        </p>

        <p>
            I work in data science and analytics, I play guitar and write novels.
        </p>
        <p>    
            I was in the Army. I have been through William & Mary twice (B.A., M.S.)
        </p>
        
        <p>
            I now putz around Minnesota.
        </p>

    </div>
</div>
{% endblock %}
